.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-group {
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}