.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.form-group {
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

.error-messages {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.error-messages small {
    font-size: 0.75rem;
}